* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #212121;
  --color-text-primary: #757575;
  --color-white-text: #ffffff;
  --color-gray: #2f303a;
  --color-light: #f5f4fa;
  --color-logo-main: #000000;
  --color-text-secondary: #2196f3;
  --color-button-active: #188ce8;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;

  color: var(--color-primary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  line-height: 0;
}

button {
  all: unset;
  cursor: pointer;
}

address {
  font-style: normal;
}

input {
  all: unset;
}

.header, .features, .engagement, .clients {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.banner, .features, .engagement {
  margin-bottom: 94px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  margin: 25px 0;

  display: flex;
  justify-content: space-between ;
  align-items: center;
}

.header-logo,
.footer-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-logo-main);
}

.header-logo span,
.footer-logo span {
  color: var(--color-text-secondary);
}

.nav-list {
  margin-left: 40px;

  display: flex;
  justify-content: space-between;
}

.nav-list-item {
  display: inline-block;
  margin-left: 50px;
}

.nav-list-item-link {
  position: relative;
  text-decoration: none;

  padding-bottom: 31px;
  color: var(--color-primary);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.nav-list-item-link:hover {
  color: var(--color-text-secondary);
}

.nav-list-item-link::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: -4px;
  background-color: var(--color-text-secondary);
  border-radius: 2px;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-list-item-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-contacts-item {
  display: inline-block;
  margin: 5px 0 5px 50px;
}

.header-contacts-item a {
  text-decoration: none;
  color: var(--color-text-primary);

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
}

.header-contacts-item a:hover {
  color: var(--color-text-secondary);
}
/* Overlay */

.overlay {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.30);
}

.overlay-form {
  width: 33vw;

  padding: 40px 40px;

  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.overlay-form-header {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;

  margin-bottom: 12px;
}

.customer-name {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_3_14581)'%3E%3Cpath d='M9 9C10.6575 9 12 7.6575 12 6C12 4.3425 10.6575 3 9 3C7.3425 3 6 4.3425 6 6C6 7.6575 7.3425 9 9 9ZM9 10.5C6.9975 10.5 3 11.505 3 13.5V14.25C3 14.6625 3.3375 15 3.75 15H14.25C14.6625 15 15 14.6625 15 14.25V13.5C15 11.505 11.0025 10.5 9 10.5Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_14581'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.customer-name:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_3_14581)'%3E%3Cpath d='M9 9C10.6575 9 12 7.6575 12 6C12 4.3425 10.6575 3 9 3C7.3425 3 6 4.3425 6 6C6 7.6575 7.3425 9 9 9ZM9 10.5C6.9975 10.5 3 11.505 3 13.5V14.25C3 14.6625 3.3375 15 3.75 15H14.25C14.6625 15 15 14.6625 15 14.25V13.5C15 11.505 11.0025 10.5 9 10.5Z' fill='%232196F3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_14581'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.phone-number {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_3_14587)'%3E%3Cpath d='M13.996 11.1226L12.1579 10.9127C11.7164 10.862 11.2822 11.014 10.9711 11.3252L9.63948 12.6568C7.59147 11.6147 5.91254 9.94296 4.87044 7.8877L6.20925 6.54888C6.52043 6.2377 6.6724 5.80349 6.62174 5.36205L6.41188 3.53836C6.32504 2.80745 5.70991 2.25745 4.97176 2.25745H3.71979C2.90203 2.25745 2.22178 2.93771 2.27243 3.75547C2.65598 9.93572 7.59871 14.8712 13.7717 15.2548C14.5894 15.3054 15.2697 14.6252 15.2697 13.8074V12.5555C15.2769 11.8245 14.7269 11.2094 13.996 11.1226Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_14587'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.phone-number:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_3_14587)'%3E%3Cpath d='M13.996 11.1226L12.1579 10.9127C11.7164 10.862 11.2822 11.014 10.9711 11.3252L9.63948 12.6568C7.59147 11.6147 5.91254 9.94296 4.87044 7.8877L6.20925 6.54888C6.52043 6.2377 6.6724 5.80349 6.62174 5.36205L6.41188 3.53836C6.32504 2.80745 5.70991 2.25745 4.97176 2.25745H3.71979C2.90203 2.25745 2.22178 2.93771 2.27243 3.75547C2.65598 9.93572 7.59871 14.8712 13.7717 15.2548C14.5894 15.3054 15.2697 14.6252 15.2697 13.8074V12.5555C15.2769 11.8245 14.7269 11.2094 13.996 11.1226Z' fill='%232196F3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_14587'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.mail {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_3_14592)'%3E%3Cpath d='M15 3H3C2.175 3 1.5075 3.675 1.5075 4.5L1.5 13.5C1.5 14.325 2.175 15 3 15H15C15.825 15 16.5 14.325 16.5 13.5V4.5C16.5 3.675 15.825 3 15 3ZM14.7 6.1875L9.3975 9.5025C9.1575 9.6525 8.8425 9.6525 8.6025 9.5025L3.3 6.1875C3.1125 6.0675 3 5.865 3 5.6475C3 5.145 3.5475 4.845 3.975 5.1075L9 8.25L14.025 5.1075C14.4525 4.845 15 5.145 15 5.6475C15 5.865 14.8875 6.0675 14.7 6.1875Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_14592'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.mail:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_3_14592)'%3E%3Cpath d='M15 3H3C2.175 3 1.5075 3.675 1.5075 4.5L1.5 13.5C1.5 14.325 2.175 15 3 15H15C15.825 15 16.5 14.325 16.5 13.5V4.5C16.5 3.675 15.825 3 15 3ZM14.7 6.1875L9.3975 9.5025C9.1575 9.6525 8.8425 9.6525 8.6025 9.5025L3.3 6.1875C3.1125 6.0675 3 5.865 3 5.6475C3 5.145 3.5475 4.845 3.975 5.1075L9 8.25L14.025 5.1075C14.4525 4.845 15 5.145 15 5.6475C15 5.865 14.8875 6.0675 14.7 6.1875Z' fill='%232196F3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_14592'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.rules {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15' fill='none'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
}

.overlay-form input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  text-indent: 40px;

  background-repeat: no-repeat;
  background-position: 15px 10px;
}

.overlay-form input:hover {
  border-radius: 4px;
  border: 1px solid #2196F3;
  cursor: pointer;
  
}

.customer-name-label, .phone-number-label, .mail-label, .comment-label {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;

  display: inline-block;

  margin-top: 12px;
  margin-bottom: 4px;
}

.overlay-form textarea {
  width: calc(100% - 40px);
  height: 120px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;

  resize: none;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);

  margin-bottom: 20px;
  padding: 20px;

}

/* Banner */
.banner {
  height: 600px;
  background: center url(../images/banner-img.png), rgba(47, 48, 58, 0.4);
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
 
  text-align: center;
  color: var(--color-white-text);
}

.banner-content h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 695px;
}

.banner-content-button {
  padding: 10px 32px;
  margin-top: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-white-text);

  background-color: var(--color-text-secondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.banner-content button:active,
.banner-content button:hover {
  background: var(--color-button-active);
}

/* Features */

.features h2, .features-tablet h2 {
  display: none;
}

.features-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}


.features-list-item {
  max-width: 270px;
  text-align: left;
}

.features-list-logo {
  width: 100%;
  background-color: #f5f4fa;
  text-align: center;
}

.features-list-logo img {
  width: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.features-list-item h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 10px;
}

.features-list-item p {
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: var(--color-text-primary);
}

.features-tablet {
  display: none;
}

/* Engagement */

.engagement-header,
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.engagement-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.engagement-list-item {
  position: relative;
}

.engagement-list-item img {
  width: 100%;
}

.engagement-list-item-text {
  position: absolute;
  bottom: 4px;

  width: 100%;
  padding: 27px 0;

  color: #FFF;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.80);
}


/* Team */

.team {
  background-color: var(--color-light);
  padding-top: 94px;
}

.team-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.team-list-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
}

.team-list-item img {
  max-width: 270px;
  width: 100%;
}

.team-list-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list-item p {
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--color-text-primary);
}

.team-list-item > :last-child {
  margin-top: 15px;
  margin-bottom: 30px;
}

.team-list-item-social {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.team-list-item-social li, .footer-contacts-list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px;
}

.social-link {
  text-align: center;
  width: 20px;
}

.team-list-item-social li:hover {
  background-color: var(--color-text-secondary);
  border-radius: 50px;
}

.social-link::before {
  font-size: 20px;
}

.team-list-item-social li:hover .social-link::before {
  color: #fff;
}



/* Clients */

.clients {

  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  box-sizing: border-box;
}

.clients-list-item:hover {
  border-color: var(--color-text-secondary);
}

.clients-list-item:hover .clients-list-item-logo::before {
  color: var(--color-text-secondary);
}

.clients-list-item-logo {
  font-size: 40px;
}

/* Footer */

/* Footer-address*/
.footer {
  background: var(--color-gray);
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;

  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer-logo {
  color: var(--color-white-text);
}

.footer-address-list {
  margin-top: 10px;
}

.footer-address-list-item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-address-list-item-link:hover {
  color: var(--color-text-secondary);
}

.location {
  color: var(--color-white-text);
}

/* Footer contatcs */
.footer-contacts h2,
.footer-mailing-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding-top: 10px;
  margin-bottom: 20px;

  color: #fff;
}

.footer-contacts-list {
  display: flex;
  gap: 10px;
}

.footer-contacts-list-item {
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
}

/* added start */

.footer-contacts-list-item {
  border: 0;
  position: relative;

  border-radius: 50%;
  box-shadow: none;

  box-sizing: border-box;
}

.footer-contacts-list-item::before,
.footer-contacts-list-item::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.footer-contacts-list-item:hover {
  background-color: var(--color-text-secondary);
  border-radius: 50px;
}

.spin {
  height: 100%;
  width: 100%;
}

.spin::before,
.spin::after {
  top: 0;
  left: 0;
}

.spin::before {
  border: 2px solid transparent;
}

.spin:hover::before {
  border-top-color: #fff;
  border-right-color: #fff;
  border-bottom-color: #fff;
  transform: rotate(30deg);
  transition: border-top-color 0.15s linear 0s, 
  
  border-right-color 0.15s linear 0.3s, 
  border-bottom-color 0.15s linear 0.6s;
}

.spin::after {
  border: 0 solid transparent;
}

.spin:hover::after {
  border-top: 2px solid #fff;
  border-right-width: 2px;
  border-left-width: 2px;
  transform: rotate(300deg);
  transition: border-left-width 0s linear 0.8s, 
      -webkit-transform 1.4s linear 0s,
      transform 1s linear 0s;
}

/* added end */

.footer-contacts-list-item a::before {
  color: #fff;
}

/* Footer mailing */

.footer-mailing {
  width: 50%;

  padding-left: 15px;
}

.footer-mailing-form {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.footer-mailing-mail {
  /* width: 360px; */
  height: 50px;
  background: transparent;

  padding-left: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-mailing-mail:focus {
  border: 1px solid var(--color-text-secondary);
}

.footer-mailing-button {
  width: 200px;
  height: 50px;
  background-color: var(--color-text-secondary);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.06em;
  color: #fff;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-mailing-button:hover {
  background-color: var(--color-button-active);
}

.footer-mailing-button p {
  display: inline-block;
}

.footer-mailing-button-send::before {
  font-size: 24px;
  color: #ffffff;
}
